@model IEnumerable<PracticaBiblioteca.Models.Libro>
@{
    var userRole = User.IsInRole("Admin") ? "Admin" : "Usuario";
}

<h1>Libros</h1>

@if (userRole == "Admin")
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RutaPortada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePortada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ejemplares)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAutorNavigation.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoriaNavigation.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEditorialNavigation.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RutaPortada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombrePortada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ubicacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ejemplares)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCreacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdAutorNavigation.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCategoriaNavigation.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEditorialNavigation.Descripcion)
                </td>
                <td>
                    @if (userRole == "Admin")
                    {
                        <a asp-action="Edit" asp-route-id="@item.IdLibro">Editar</a>

                        <a asp-action="Delete" asp-route-id="@item.IdLibro">Eliminar </a>

                        <a asp-action="Details" asp-route-id="@item.IdLibro">Detalles </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

