@model IEnumerable<PracticaBiblioteca.Models.Editorial>

@{
    ViewData["Title"] = "Editoriales";
}

<h1>Editoriales</h1>

<p>
    <a asp-action="Create">Crear nuevo registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEditorial">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdEditorial">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEditorial">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
