@model IEnumerable<PracticaBiblioteca.Models.Editorial>

@{
    ViewData["Title"] = "Inicio";
    var userRole = User.IsInRole("Admin") ? "Admin" : "Usuario";
}

<h1>Editoriales</h1>

@if (userRole == "Admin")
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Crear nuevo registro</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCreacion)
                </td>
                <td>
                    @if (userRole == "Admin")
                    {
                        <a asp-action="Edit" asp-route-id="@item.IdEditorial">Editar</a>

                        <a asp-action="Delete" asp-route-id="@item.IdEditorial">Eliminar </a>
                        <a asp-action="Details" asp-route-id="@item.IdEditorial">Detalles </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>