@model PracticaBiblioteca.Models.Prestamo

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar un registro</h1>

<h3>¿Estas seguro de eliminar un registro?</h3>
<div>
    <h4>Prestamos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDevolucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDevolucion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaConfirmacionDevolucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaConfirmacionDevolucion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoEntregado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoEntregado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoRecibido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoRecibido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstadoPrestamoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstadoPrestamoNavigation.IdEstadoPrestamo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLibroNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLibroNavigation.IdLibro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPersonaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPersonaNavigation.IdPersona)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPrestamo" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar al listado</a>
    </form>
</div>
