@model IEnumerable<PracticaBiblioteca.Models.Prestamo>

@{
    ViewData["Title"] = "Index";
}

<h1>Prestamos</h1>

<p>
    <a asp-action="Create">Crear nuevo registro</a>
</p>

<a asp-controller="Calificacions" asp-action="ImprimirSimple" class="btn btn-success">Imprimir PDF Simple</a>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaDevolucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaConfirmacionDevolucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoEntregado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoRecibido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoPrestamoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLibroNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPersonaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDevolucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaConfirmacionDevolucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoEntregado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoRecibido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoPrestamoNavigation.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLibroNavigation.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPersonaNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPrestamo">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdPrestamo">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPrestamo">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
